global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: "mlflow_exporter"
    metrics_path: /metrics
    static_configs:
      - targets: ["host.docker.internal:8000"]
